<form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  <h2 mat-dialog-title>New deal</h2>
  <mat-dialog-content class="mat-typography">
    <div class="grid-dialog">
      <mat-form-field matForm appearance="standard">
        <mat-label>Company name</mat-label>
        <input id="form-name" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field matForm appearance="standard">
        <mat-label>Purchase Price ($)</mat-label>
        <input id="form-price" matInput formControlName="price">
      </mat-form-field>

      <mat-form-field matForm appearance="standard">
        <mat-label>Address</mat-label>
        <input id="form-address" matInput formControlName="address">
      </mat-form-field>

      <mat-form-field matForm appearance="standard">
        <mat-label>NOI (Net Operating Income) ($)</mat-label>
        <input id="form-noi" matInput formControlName="noi">
      </mat-form-field>

      <mat-form-field matForm appearance="standard">
        <mat-label>Cap Rate = NOI / Purchase Price (%)</mat-label>
        <input id="form-rate" matInput formControlName="rate">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button id="btn-form-cancel" mat-button mat-dialog-close>Cancel</button>
    <button id="btn-form-add" type="submit" mat-button cdkFocusInitial>Add</button>
  </mat-dialog-actions>
</form>
